*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 30px;
    text-align: center;
    color: black;
}
section{
    width: 100%;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
article{
    float: left;
    width: 25%;
}
article img{
    width: 100%;
    padding: 3px 5px;
}

@media all and (max-width:996px){
    article{
        width: 33.33%;
    }
}
@media all and (max-width:768px){
    article{
        width: 50%;
    }
}
@media all and (max-width:567px){
    article{
        width: 100%;
    }
}